/* BODY */

body{
    background-color: #D7DBDD;
}

/* FUENTES */

@font-face {
    font-family: 'navFont';
    src: url('/fonts/conthrax-sb.otf');
}

/* BARRA DE NAVEGACIÓN */

nav a{
    font-family: 'navFont';
}

/* IMAGENES */

#imgRedonda {
    width:300px;
    height:300px;
    border-radius:150px;
}

